.color-default{
    color:#333333;
}
.color-primary{
    color:#3276B1;
}
.color-success{
    color:#5CB85C;
}
.color-info{
    color:#5BC0DE;
}
.color-warning{
    color:#F0AD4E;
}
.color-danger{
    color:#D2322D;
}
.color-link{
    color:#2A64B0;
}